.wrapper {
    position: relative;
    width: 420px;
    height: 450px;
    background: transparent;
    background: 6px solid rgb(255, 255, 255, .1);
    backdrop-filter: blur(20px);
    border-radius: 10px;

}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

form h1 {
    font-size: 36px;
    text-align: center;

}

form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .1);
    border-radius: 40px;
    font-size: 18px 45px 20px 20px;
    color: #000000;
}

.input-box input::placeholder {
    color: #000000;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 18px;
}

form button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: 700;
}